.gallery {
    height: 100vh;
    display: flex;
    gap: 1vw;
    padding: 1vw;
    box-sizing: border-box;
    .column {
        position: relative;
        height: 100%;
        width: 25%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        gap: 2vw;

        .imageContainer {
            width: 100%;
            position: relative;
            border-radius: 1vw;

            img {
                object-fit: cover;
            }
        }

        &:nth-of-type(1) {
            top: -65%;
        }

        &:nth-of-type(2) {
            top: -58%;
        }

        &:nth-of-type(3) {
            top: -55%;
        }

        &:nth-of-type(4) {
            top: -64%;
        }

        &:nth-of-type(5) {
            top: -78%;
        }

        &:nth-of-type(6) {
            top: -85%;
        }
    }
}